<div id="comments-list" class="m-1">
	<div id="comments-new" class="card m-2">
		<div class="card-header bg-dark text-white">
			댓글 쓰기
		</div>
		<div class="card-body">
			<!-- 댓글 작성 폼 -->
			<form>
				<!-- 닉네임 입력 -->
				<div class="mb-3">
					<label for="new-comment-nickname" class="form-label">닉네임</label>
					<input id="new-comment-nickname" class="form-control form-control-sm"/>
				</div>
				<!-- 댓글 입력 -->
				<div class="mb-3">
					<label for="new-comment-body" class="form-label">댓글</label>
					<textarea id="new-comment-body" class="form-control form-control-sm" rows="5"
						style="resize: none;"></textarea>
				</div>
				<!-- 작성하는 댓글이 어떤 메인글의 댓글인가 저장하기 위해 메인글의 id를 히든으로 전달한다. -->
				{{#article}}
				<input id="new-comment-article-id" type="hidden" value="{{id}}"/>
				{{/article}}
				<!-- 전송 버튼 -->
				<button id="comment-create-btn" class="btn btn-outline-primary btn-sm" type="button">
					댓글 저장
				</button>
			</form>
		</div>
	</div>
</div>


<script type="text/javascript">

{
// 전송버튼을 선택해서 click에 대한 이벤트를 걸어준다.

// addEventListener('이벤트', 실행하 함수)
// 유효성 검사 

// 새 댓글 객체를 생성한다.

// 댓글 객체 출력

// ajax를 이용해서 restAPI 호출한다.
// fetch Ajax
// PostMapping("url")


// url
// method:'POST'
// body:json.stringify() // 자바스크립트 객체 comment를 json으로 변경!
// content-type : json
// then
// 현재 페이지를 새로고침 한다.
location.reload();


}
</script>